$primary-color: #090963;
$primary-color1: #1f1f70;
$secondary-color: #cce4ff;
$secondary-color1: #e6f2ff;
$primary-color-text: #1f1f31;
$secondary-color-text: #c3c3c3;
$primary-color-border: #f6f6f6;
$secondary-color-border: #f6f6f6;
$primary-color-text-normal: #2b2c43;
// $primary-color: #64ff00;
// $primary-color: #64ff00;
// $primary-color: #64ff00;
 
:export {
  primaryColor: $primary-color;
}