apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-service
  annotations:
    spec.ingressClassName: nginx
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  rules:
    - host: "stubhub-ticketing.dev"
      http:
        paths:
          - path: "/api/users/?(.*)"
            pathType: Prefix
            backend:
              service:
                name: auth-clusterip-service
                port:
                  number: 5000
